:root {
  --agriox-landing-font: "Averia Sans Libre", sans-serif;
  --agriox-landing-body: "DM Sans", sans-serif;
  --agriox-landing-special: 'Shadows Into Light', cursive;
  --agriox-landing-black: #000000;
  --agriox-landing-black-rgb: 0, 0, 0;
  --agriox-landing-dark: #334b35;
  --agriox-landing-dark-rgb: 52, 76, 54;
  --agriox-landing-base: #f1cf69;
  --agriox-landing-base-rgb: 241, 207, 105;
  --agriox-landing-primary: #6d8c54;
  --agriox-landing-primary-rgb: 109, 140, 84;
  --agriox-landing-gray: #f6f4ec;
  --agriox-landing-text: #687469;
  --agriox-landing-light: #b3c5b5;
}

.row {
  --bs-gutter-x: 30px;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

body {
  font-family: var(--agriox-landing-body, "DM Sans", sans-serif);
  color: var(--agriox-landing-text, #687469);
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
}

a {
  color: var(--agriox-black);
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.thm-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  background-color: var(--agriox-landing-base, #f1cf69);
  color: var(--agriox-landing-dark, #334b35);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 50px 18px;
  border-radius: 10px;
  letter-spacing: 0.1em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
  z-index: 1;
}

.thm-btn:hover {
  color: #ffffff;
}

.thm-btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 100%;
  background: rgba(var(--agriox-landing-dark-rgb, 52, 76, 54), 0.15);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  content: "";
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 700ms ease;
  transition: 700ms ease;
  z-index: -1;
}

.thm-btn:hover:before {
  width: 100%;
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-radius: 0;
  background: var(--agriox-landing-dark, #334b35);
}

.footer-copyright {
  padding: 33px 0;
  background-color: var(--agriox-landing-primary, #6d8c54);
}

.footer-copyright p {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.main-footer {
  background-color: var(--agriox-landing-dark, #334b35);
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (min-width: 1200px) {
  .main-footer {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.main-footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .02;
  background-position: center 110%;
  background-repeat: no-repeat;
}

.main-footer .container {
  position: relative;
}

.main-footer__title {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  font-family: var(--agriox-landing-font, "Averia Sans Libre", sans-serif);
}

@media (min-width: 1200px) {
  .main-footer__title {
    font-size: 50px;
  }
}

.main-footer__text {
  margin: 0;
  color: var(--agriox-landing-light, #b3c5b5);
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .main-footer__text {
    font-size: 26px;
    margin-bottom: 40px;
  }
}

.main-footer .thm-btn:hover {
  color: var(--agriox-landing-dark, #334b35);
}

.main-footer .thm-btn:hover::before {
  background-color: #fff;
}

.features-one {
  background-color: var(--agriox-landing-gray, #f6f4ec);
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (min-width: 1200px) {
  .features-one {
    padding-top: 105px;
    padding-bottom: 120px;
  }
}

.features-one__title {
  margin: 0;
  font-size: 40px;
  color: var(--agriox-landing-black, #000000);
  font-weight: bold;
  margin-bottom: 40px;
  font-family: var(--agriox-landing-font, "Averia Sans Libre", sans-serif);
}

@media (min-width: 1200px) {
  .features-one__title {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

.features-one__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: -47px;
}

@media (min-width: 768px) {
  .features-one__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .features-one__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .features-one__grid {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.features-one__box {
  text-align: center;
  margin-top: 47px;
}

.features-one__box__image {
  width: 131px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .features-one__box__image {
    margin-left: 0;
    margin-right: 0;
  }
}

.features-one__box__title {
  font-weight: 700;
  margin: 0;
  font-size: 15px;
  color: var(--agriox-landing-black, #000000);
  width: 120px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .features-one__box__title {
    margin-left: 0;
    margin-right: 0;
  }
}

.demos-one {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (min-width: 1200px) {
  .demos-one {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.demos-one .row {
  --bs-gutter-y: 30px;
}

.demos-one__single {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.demos-one__single:hover {
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.2);
}

.demos-one__image img {
  width: 100%;
}

.demos-one__text {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.demos-one__text h3 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  color: var(--agriox-landing-black, #000000);
}

.demos-one__text h3 a {
  color: inherit;
}

.features-two {
  background-color: var(--agriox-landing-gray, #f6f4ec);
  padding-top: 80px;
  padding-bottom: 80px;
}

.features-two .row {
  --bs-gutter-y: 30px;
}

.features-two__box {
  text-align: center;
}

.features-two__box h3 {
  margin: 0;
  font-size: 20px;
  color: var(--agriox-landing-black, #000000);
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 20px;
}

.hero-section {
  background-color: var(--agriox-landing-dark, #334b35);
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 1200px) {
  .hero-section {
    padding-bottom: 130px;
  }
}

.hero-section__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.02;
}

.hero-section .container {
  position: relative;
}

.hero-section__content {
  text-align: center;
}

@media (min-width: 992px) {
  .hero-section__content {
    text-align: left;
  }
}

.hero-section__title {
  margin: 0;
  color: #fff;
  font-family: var(--agriox-landing-special, "Shadows Into Light", cursive);
  font-size: 45px;
  line-height: 1.15em;
  margin-top: 80px;
  margin-bottom: 25px;
}

@media (min-width: 1200px) {
  .hero-section__title {
    margin-top: 120px;
    font-size: 70px;
  }
}

.hero-section__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.8em;
  color: var(--agriox-landing-light, #b3c5b5);
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .hero-section__text {
    margin-bottom: 45px;
    font-size: 20px;
  }
}

.hero-section__text br {
  display: none;
}

@media (min-width: 768px) {
  .hero-section__text br {
    display: inherit;
  }
}

.hero-section__images {
  display: none;
}

@media (min-width: 1200px) {
  .hero-section__images {
    display: block;
  }
}

.hero-section__images img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero-section__arrow {
  width: 180px;
  height: 84px;
  background-image: url(../images/update-20-12-2021/landing-page/hero-arrow-1.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 134px;
  left: 37%;
  -webkit-animation-name: float-bob-y-2;
          animation-name: float-bob-y-2;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.hero-section__badge {
  width: 131px;
  height: 131px;
  background-image: url(../images/update-20-12-2021/landing-page/hero-badge-1.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 120px;
  left: 45%;
  -webkit-animation: sunMove 10s linear infinite;
          animation: sunMove 10s linear infinite;
}

.hero-section .thm-btn:hover {
  color: var(--agriox-landing-dark, #334b35);
}

.hero-section .thm-btn:hover::before {
  background-color: #fff;
}

@-webkit-keyframes sunMove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes sunMove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes float-bob-y-2 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
            transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
            transform: translateY(10px) translateX(10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
            transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@keyframes float-bob-y-2 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
            transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
            transform: translateY(10px) translateX(10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
            transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
/*# sourceMappingURL=agriox-landing.css.map */